 /*
    ==============================================
                ****** RESET ******
    ==============================================
*/

* {
  margin: 0%;
  padding: 0%;
  font-family: helvetica,gotha;
  box-sizing: border-box;
}

/*
    ==============================================
                ****** Navbar ******
    ==============================================
*/

.nav-top {
  
  background-image: linear-gradient(to right,#d35266 ,white);
}

.img-logo {
  width: 30%;
  height: auto;
}

.nav-bottom {
  background-image: linear-gradient(to right,#d35266 ,white);
}

.da {
  color: #d35266;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 10px;
}

.img-logo1 {
  height: 10rem;
}

.footer {
margin-top: 300px;
width: 100%;
}

.foot-top1 {
  width: 100%;
}

.foot-top-dis {
  margin-left: 5rem;
  margin-right: 5rem;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.foot-top2 {
  display: none;
}

.h5 {
  margin: 0 auto;
  justify-content: center;  
  width: 5rem;
}


@media only screen and (min-width: 768px) {
  .foot-top2 {
    display: block;
  }

}